/* Style for the wrapper containing the Pokedex content */
.pokedex-wrapper {
    display: flex; /* Use flex display for flexible layout */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally within the wrapper */
}

.heading {
  font-size: 3rem;
}

/* Style for the heading within the pokedex-wrapper */
.pokedex-wrapper h1 {
    letter-spacing: 10px; /* Add spacing between characters in the heading */
}