/* Styling for the redirect message in the Pokedex */
.pokedex-redirect {
    margin: 30px 30px 10px 30px;
    text-decoration: none;
}

.pokedex-redirect:hover {
    text-decoration: underline;
}

/* Styling for the wrapper of Pokemon details */
.pokemon-details-wrapper {
    display: flex; /* Use flex display for flexible layout */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally within the wrapper */
    justify-content: center; /* Center children vertically within the wrapper */
    gap: 2rem; /* Add gap between children */
}

/* Styling for the name of the Pokemon detail */
.pokemon-detail-name {
    font-size: xx-large; /* Set extra large font size */
    letter-spacing: 2rem; /* Add spacing between characters */
    text-transform: capitalize; /* Captilize the name */
}

/* Styling for Pokemon attributes */
.pokemon-attr {
    display: flex; /* Use flex display for flexible layout */
    font-size: xx-large; /* Set extra large font size */
    gap: 2rem; /* Add gap between items */
}

/* Styling for the type of Pokemon */
.type {
    font-size: x-large; /* Set large font size */
    border: 1px solid grey; /* Add border */
    padding: 1rem 2rem; /* Add padding */
    border-radius: 10px; /* Apply border radius */
    background-color: azure; /* Set background color */
    margin-left: 1rem; /* Add left margin */
}

/* Styling for the Pokemon types heading */
.pokemon-types h1 {
    display: inline; /* Display the heading inline */
}

/* Styling for the section displaying similar Pokemons */
.similar-pokemons {
    display: flex; /* Use flex display for flexible layout */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    margin-top: 5rem; /* Add top margin */
    text-align: center;
}

/* Styling for the boxes containing similar Pokemons */
.pokemon-similar-boxes {
    display: flex; /* Use flex display for flexible layout */
    flex-direction: row; /* Arrange children horizontally in a row */
    flex-wrap: wrap; /* Allow wrapping of items to next line if needed */
    justify-content: center; /* Center children horizontally within the container */
}

@media screen and (max-width: 515px) {
    .similar-pokemons {
        font-size: 10px;
    }
    .pokemon-details-wrapper {
        margin-top: 15px;
    }
.pokemon-detail-name {
    font-size: xx-large; 
    letter-spacing: 1rem; 
}
}