/* Styling for the container of the list of Pokemon */
.pokemon-list {
    display: flex; /* Use flex display for flexible layout */
    flex-direction: row; /* Arrange children horizontally in a row */
    flex-wrap: wrap; /* Allow wrapping of items to next line if needed */
    justify-content: space-around; /* Distribute space evenly between items */
    margin: 0 30px;
}

/* Styling for the wrapper of the entire Pokemon list component */
.pokemon-list-wrapper {
    display: flex; /* Use flex display for flexible layout */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally within the wrapper */
    margin-top: 50px;
}

.page-controls {
     display: flex;
     justify-content: space-between;
     width: 100vw;
     margin-top: 14px;
}

/* Styling for the navigation buttons container */
.page-controls button {
    padding: 15px 2rem; /* Add padding around the button */
    margin: 0 3rem; /* Add Right and Left margin */
    font-size: larger;
    font-weight: bolder; /* Apply bold font weight */
    border: none; /* Remove border */
    background-color: salmon; /* Set background color */
    border-radius: 10px; /* Apply border radius */
}

/* Styling for the navigation buttons on hover */
.page-controls button:hover {
    background-color: tomato; /* Change background color on hover */
}