/* Styles for the container holding the Pokemon list */
.pokemonList-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styles for the list of Pokemon */
.pokemon-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Styles for the pagination controls */
.page-controls button {
    background-color: salmon;
    padding: 15px 2rem;
    border-radius: 14px;
    font-weight: bolder;
    margin-left: 1rem;
    border: none;
    font-size: 1rem;
    margin-top: 2em;
}

/* Hover effect for pagination buttons */
.page-controls button:hover {
    background-color: sandybrown;
}

.similar-pokemons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.pokemon-similar-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}