/* Styling for the wrapper that contains each Pokémon entry */
.pokemon-wrapper {
    display: block; /* Display as block-level element */
    flex-basis: 30%; /* Set the initial flex basis for flexible layout */
    text-decoration: none; /* Remove underline from link text */
    color: black; /* Set text color */
}

/* Styling for the main Pokémon container */
.pokemon {
    display: flex; /* Use flex display for flexible layout */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally within the container */
    justify-content: center; /* Center children vertically within the container */
    height: 300px; /* Set container height */
    max-width: 400px; /* Set maximum container width */
    margin-top: 4rem; /* Add margin to the top of the container */
    border: 1px solid black; /* Add a border */
    border-radius: 10px; /* Apply border radius */
    background-color: bisque; /* Set background color */
}

/* Styling when hovering over a Pokémon container */
.pokemon:hover {
    background-color: burlywood; /* Change background color on hover */
}

/* Styling for the Pokémon image */
.pokemon-image {
    max-height: 50%; /* Set maximum image height */
    min-height: 200px; /* Set minimum image height */
    max-width: 60%; /* Set maximum image width */
    display: block; /* Display as a block-level element */
}

/* Styling for the Pokémon name */
.pokemon-name {
    letter-spacing: 10px; /* Add spacing between characters */
    font-size: xx-large; /* Set larger font size */
    margin-bottom: 1rem; /* Add margin at the bottom */
    margin-top: 1rem; /* Add margin at the top */
    font-weight: bold; /* Apply bold font weight */
}