/* Styling for the search input element with ID 'search-pokemon' */
#search-pokemon {
    width: 50%;
    /* Set the width of the input element */
    padding: 2rem;
    /* Add padding inside the input element */
    margin-top: 1rem;
    /* Add margin at the top of the input element */
    font-size: large;
    letter-spacing: 2px;
    border: none;
}

@media screen and (max-width: 840px) {
    #search-pokemon {
        width: 70%;
        padding: 2rem 1rem;
        font-size: 12px;
    }
}