* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

/* Set the background color for the entire body */
body {
    background-color: blanchedalmond; /* Use the "blanchedalmond" color for the background */
    overflow-x: hidden;
    margin: 40px 0;
}